/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import 'scss/app';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: $background-pannel !important;
}

//Toaster Styles

#toast-container>.toast-success,
.toast-error {
    background-image: none !important;
}

.ngx-toastr {
    width: 25rem !important;
}



//Validation Error For Input

.error-indication {
    border: 1px solid red !important;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: .7rem;
}



.ngx-pagination {
    padding: 1rem;

    a {
        text-decoration: none;
        font-weight: bold;
        background-color: var($primary-color-dark) !important;
    }

    .current,
    a:hover {
        color: white;
        cursor: pointer;
        font-weight: bold;
        border-radius: 1rem;
        background-color: $primary-color-dark !important;
    }
}